NODE_ENV=development
PORT=5001
JWT_SECRET=secret
## please add your database name at last of mongo uri in camel-case
MONGO_URI=mongodb+srv://hasibrahaman72:FYqK657cg4lxAxqz@cluster0.mocot.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
MONGO_URI=mongodb+srv://hasibrahaman72:FYqK657cg4lxAxqz@cluster0.mocot.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
EMAIL_HOST=live.smtp.mailtrap.io
EMAIL_PORT=587
EMAIL_USER=api
EMAIL_PASS=f18873a3bd8b02a2157da28c1403fb10
EMAIL_FROM=hasibrahaman72@demomailtrap.com

TwilioRECOVERYcode=FPVW9K51L44ZEG4SHMVXNZHU
TwilioAPIKey=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